$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;


$siderbarBgColor: #545c64;
$siderbarTextColor: #ffffff;
$siderbarActiveTextColor: #ffd04b;
$siderbarWidth: 220px;
$topbarHeight: 48px;
$mainBackgroundColor: #f5f5f5;
$topbarBackgroundColor: #ffffff;
$siderbarBackgroundColor: #424f63;
$cardBackgroundColor: #0277BD;
$cardTextColor: #fff;

$borderColor: #e6ebf5;
$tableHeaderBgColor: #f5f7fa;

$purpleFontColor:#8da1f2;
$pinkFontColor:#fd8dad;
$yellowFontColor:#fec85a;
$greenFontColor:#a6e3dd